[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MigConnectivity"]
	path = MigConnectivity
	url = https://github.com/smbc-nzp/migconnectivity
